./flakes/this-system
./private/audio.nix
./private/configs/xmonad.nix
./private/configs/xmonad.nix.maricruz
./private/services/nvidia.nix
./private/services/docker.nix
./private/services/openvpn.nix
./private/services/xserver/xserver.nix
./private/services/xserver/xserver.nix.maricruz
./private/hardware.nix
./private/font-size.nix
./private/filesystems.nix
./private/boot.nix.maricruz
./private/power.nix
./private/packages/machinelearning.nix
./private/networking.nix
./private/boot-common.nix
./private/boot.nix
