#pattern  filter=crypt diff=crypt
private/* filter=git-crypt diff=git-crypt
private/packages/* filter=git-crypt diff=git-crypt
private/services/* filter=git-crypt diff=git-crypt
private/configs/* filter=git-crypt diff=git-crypt
desa/private/* filter=git-crypt diff=git-crypt
desa/private/packages/* filter=git-crypt diff=git-crypt
desa/private/services/* filter=git-crypt diff=git-crypt
euler/private/* filter=git-crypt diff=git-crypt
euler/private/configs/* filter=git-crypt diff=git-crypt
euler/private/packages/* filter=git-crypt diff=git-crypt
euler/private/services/* filter=git-crypt diff=git-crypt
euler/private/xserver/* filter=git-crypt diff=git-crypt
maricruz/private/* filter=git-crypt diff=git-crypt
maricruz/private/configs/* filter=git-crypt diff=git-crypt
maricruz/private/packages/* filter=git-crypt diff=git-crypt
maricruz/private/services/* filter=git-crypt diff=git-crypt
maricruz/private/xserver/* filter=git-crypt diff=git-crypt
reno/private/* filter=git-crypt diff=git-crypt
reno/private/packages/* filter=git-crypt diff=git-crypt
reno/private/services/* filter=git-crypt diff=git-crypt
reno/private/services/kubernetes/* filter=git-crypt diff=git-crypt
thales/private/* filter=git-crypt diff=git-crypt
thales/private/packages/* filter=git-crypt diff=git-crypt
thales/private/services/* filter=git-crypt diff=git-crypt
tray/private/* filter=git-crypt diff=git-crypt
tray/private/packages/* filter=git-crypt diff=git-crypt
tray/private/services/* filter=git-crypt diff=git-crypt
vserver/private/* filter=git-crypt diff=git-crypt
vserver/private/packages/* filter=git-crypt diff=git-crypt
vserver/private/services/* filter=git-crypt diff=git-crypt
